///* ========================================================================
//   #FONTS
//   ======================================================================== */

// This file contains all fonts imported in the project.
/* stylelint-disable */

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icomoon.eot?vmcr0i');
  src:  url('../fonts/icomoon.eot?vmcr0i#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?vmcr0i') format('truetype'),
  url('../fonts/icomoon.woff?vmcr0i') format('woff'),
  url('../fonts/icomoon.svg?vmcr0i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


