///* ========================================================================
//   #FONTS
//   ======================================================================== */
// All fonts used in the project.

$cWhite : #FFF;
$cBlack : #4A4A4A;

$cBlue : #00A8CC;
$cBlue2 : #0086BD;
$cBlue3 : #005F80;

$cbgBlack1: #3D3D3D;
$cbgBlack2: #4A4A4A;

$cLightGrey: #f5f5f5;



$gradientBlue : linear-gradient(-270deg, $cBlue 0%, #006F9D 66%);

/**
 * Social colors
 */
$cFacebook : #3B5998;
$cTwitter : #55ACEE;
$cPinterest : #CB2027;
$cBehance : #1769FF;
$cDribble : #EA4C89;
$cYoutube : #CD201F;
$cVimeo : #1AB7EA;
$cLinkedin : #0077B5;
$cGithub : #2F2F2F;
