///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$font-family-icons: 'icons';

$global-radius: 2px !default;
$global-transition: all 300ms ease !default;
$transition : 300ms ease;

$global-padding: 30px;

$global-box-shadow: 0 2px 11px 0 rgba(185, 185, 185, 50) !default;

// GRIDZ SETTINGS
$env: 'dev' !default;

$ws_GridzUnit:          1rem;        //    Unit used in the gridz-system. Possible values : 1px, 1em, 1rem, 1banana (all available css units except '%')
$ws_iGridzColumns:      12;         //    Number of columns you want in the grid
$ws_sGridzTotalWidth:   1040;       //    Base grid-size (without units but based on pixels)
$ws_sGridzGutterWidth:  45;         //    Base gutter-size (without units but based on pixels)
