///* ========================================================================
//   #ICONS FONT
//   ======================================================================== */
// All icons fonts used in the project.
//    First param : the icon's name (used by the mixin to retrieve the icon's code)
//    Second param : the icon's content value

$icon-list:
  "service-public" "\e900",
  "partenaires" "\e901",
  "entreprise" "\e902", "panneaux" "\e903",
"arrow-left" "\e904",
"arrow-right" "\e905",
"certificat" "\e906",
"dashboard" "\e907",
"linkedin" "\e908",
"mail" "\e909",
"path" "\e90a",
"phone" "\e90b",
"plus" "\e90c",
"prise" "\e90d",
"validate" "\e90e",
"pile-dossiers" "\e90f";

i.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-service-public:before {
  content: "\e900";
}
.icon-partenaires:before {
  content: "\e901";
  font-size: 18px;
}
.icon-entreprise-02-02:before {
  content: "\e902";
}

.icon-panneaux::before {
  content: "\e903";
}

.icon-arrow-left::before {
  content: "\e904";
}

.icon-arrow-right::before {
  content: "\e905";
}

.icon-certificat::before {
  content: "\e906";
}

.icon-dashboard::before {
  content: "\e907";
}

.icon-linkedin::before {
  content: "\e908";
}

.icon-mail::before {
  content: "\e909";
}

.icon-path::before {
  content: "\e90a";
}

.icon-phone::before {
  content: "\e90b";
}

.icon-plus::before {
  content: "\e90c";
}

.icon-prise::before {
  content: "\e90d";
}

.icon-validate::before {
  content: "\e90e";
}

.icon-pile-dossiers::before {
  content: "\e90f";
}








