.abSection1 {
  display: flex;
  margin-bottom: rem(30px);
  @include mq($until: tablet) {
    flex-direction: column;
  }

  & .wysiwyg {
    //flex-basis: 48%;
    margin-right: rem(45px);
    @include mq($until: laptop) {
      flex-basis: 60%;
    }
    @include mq($until: tablet) {
      margin-right: 0;
      text-align: center;
    }

    & p {
      &:after {
        content: none !important;
      }
    }

  }

  &__img {
    position: relative;
    height: rem(355px);
    width: rem(498px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: rem(40px);
    float: right;
    @include mq($until: tablet) {
      width: 100%;
      margin-top: rem(50px);
      background-size: contain;
      margin-bottom: rem(30px);
    }
    @include mq($until: mobile) {
      margin-bottom: 0;
    }

    @include mq($until: 375px) {
      margin-bottom: rem(-30px);
    }

    & img {
      @include mq($until: laptop) {
        display: none;
      }
    }

    &__cover {
      position: absolute;
      top: rem(-40px);
      left: rem(-31px);
    }
  }
}

.abSection2 {
  & .title {
    margin-bottom: rem(30px);
    @include mq($until: tablet) {
      text-align: center;
    }
    @include mq($until: 475px) {
      @include inuit-font-size(22px);
    }
  }

  & .wysiwyg-subtitle {
    display: block;
    max-width: rem(775px);
    @include mq($until: tablet) {
      text-align: center;
    }
  }

  /* & ul {
    columns: 2;
  } */

  & ul > li {
    margin-bottom: rem(20px);
    @include mq($until: 475px) {
      @include inuit-font-size(14px);
    }
  }
}

.abTeam {
  margin-top: rem(100px);
  padding-top: rem(100px);
  background-image: linear-gradient(0deg, #fff 20%, #f5f5f5 100%);
  @include mq($until: tablet) {
    margin-top: rem(50px);
    padding-top: rem(50px);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: rem(50px);
    margin-bottom: rem(45px);
    @include mq($until: 475px) {
      flex-direction: column;
      margin-bottom: 4%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: rem(30px);
  }

  &__topCard {
    width: 48%;
    @include mq($until: 475px) {
      width: 100%;
    }

    &:first-child {
      @include mq($until: 475px) {
        margin-bottom: 4%;
      }
    }
  }

  &__bottomCard {
    width: 22%;
    margin-right: 4%;
    margin-bottom: 4%;
    @include mq($until: laptop) {
      width: 30.66%;
    }
    @include mq($until: tablet) {
      width: 48%;
    }
    @include mq($until: 475px) {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
      @include mq($until: laptop) {
        margin-right: 4%;
      }
      @include mq($until: 475px) {
        margin-right: 0;
      }
    }

    &:nth-child(3n+3) {
      @include mq($until: laptop) {
        margin-right: 0;
      }
      @include mq($until: tablet) {
        margin-right: 4%;
      }
      @include mq($until: 475px) {
        margin-right: 0;
      }
    }

    &:nth-child(2n+2) {
      @include mq($until: tablet) {
        margin-right: 0;
      }
    }
  }

  &__figure {
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(10px);
    min-height: rem(200px);
    background-color: #ececec;
    background-image: url('../images/bg-team-director.png');
    background-repeat: no-repeat;
    background-position: center center;
    @include mq($until: laptop) {
      min-height: rem(150px);
    }
    @include mq($until: 475px) {
      min-height: rem(100px);
    }
  }

  &__name {
    @include inuit-font-size(20px);

    display: block;
    color: $cBlue3;
    text-align: center;
    margin-bottom: rem(15px);
    @include mq($until: 475px) {
      @include inuit-font-size(18px);
    }
  }

  &__role {
    display: block;
    font-weight: 900;
    text-align: center;
    margin-bottom: rem(15px);
    @include inuit-font-size(16px);
    @include mq($until: 475px) {
      @include inuit-font-size(14px);
    }
  }

  &__email {
    @include inuit-font-size(14px);

    display: block;
    text-align: center;
  }

  &__phone {
    @include inuit-font-size(14px);

    display: block;
    text-align: center;
  }
}
