.c-builder {

  &__background {
    padding: rem(100px) 0;
    position: relative;
    //margin-bottom: rem(50px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &::before {
      content: '';
      background-color: rgba($cBlue3, 0.76);
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    & .wysiwyg {
      position: relative;

      & p {
        color: $cWhite !important;
      }
    }
  }

  &__content {
    width: 50%;
    @include mq($until: tablet) {
      width: 100%;
    }

    & h2 {
      text-transform: none;
      margin-bottom: rem(20px);
      @include mq($until: mobile) {
        font-size: rem(20px);
      }
    }
  }

  &__content-yes {
    background-color: $cLightGrey;
    padding: rem(40px) 0;
    //margin-bottom: rem(50px);

    & .c-builder__content-container {
      margin-bottom: 0;
    }
  }

  &__content-no {
    margin-top: rem(50px);
    position: relative;
  }

  &__content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: rem(50px);
    position: relative;
    z-index: 10;
    @include mq($until: tablet) {
      flex-direction: column;
    }
  }

  &__content-link {
    text-align: center;
    margin-bottom: rem(50px);
    position: relative;

    & h2 {
      margin-bottom: rem(25px);
      text-transform: none;
    }

    & .wysiwyg {
      margin: 0 auto rem(35px);
      max-width: rem(907px);
    }

    & .c-btn {
      background-color: $cBlue;
    }
  }

  &__figure-left {
    width: 50%;
    margin-right: 5%;
    @include mq($until: tablet) {
      width: 100%;
      margin-right: 0;
      margin-bottom: rem(30px);
    }

    & img {
      @include mq($until: tablet) {
        width: 100%;
      }
    }
  }

  &__figure-right {
    order: 2;
    margin-left: 5%;
    @include mq($until: tablet) {
      margin-left: 0;
      margin-top: rem(30px);
      width: 100%;
    }

    & img {
      @include mq($until: tablet) {
        width: 100%;
      }
    }
  }

  &__bloc-img {
    & img {
      width: 100%;
    }
  }

  &__columns-container {
    position: relative;
    z-index: 10;

    & h2 {
      margin-bottom: rem(20px);
      @include mq($until: mobile) {
        font-size: rem(20px);
      }
    }

    & .wysiwyg {
      margin: 0 !important;
      max-width: 100% !important;
    }
  }

  &__columns-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50px);

    & h2 {
      text-transform: none;
    }

    &--center {
      text-align: center;
    }

    @include mq($until: laptop) {
      flex-wrap: wrap;
    }
  }

  &__col {
    &--1 {
      width: 100%;
    }

    &--2 {
      width: 47.5%;
      @include mq($until: tablet) {
        width: 100%;
      }

      &:first-child {
        margin-right: 5%;
        @include mq($until: tablet) {
          margin-right: 0;
          margin-bottom: 5%;
        }
      }
    }

    &--3 {
      width: 30%;
      margin-right: 5%;
      @include mq($until: laptop) {
        width: 47.5%;
        margin-bottom: 5%;
      }
      @include mq($until: tablet) {
        width: 100%;
      }

      &:nth-child(2) {
        @include mq($until: laptop) {
          margin-right: 0;
        }

      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

}
