/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-flex; /* [1] */
  align-items: center; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: 300ms ease background;
}

.c-btn--primary {
  padding: 0;
  box-sizing: border-box;

  & i {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(52px);
    height: rem(52px);
    background: $cBlue;
    border: rem(2px) solid $cWhite;
    overflow: hidden;
    @include mq($until: tablet) {
      height: rem(35px);
      width: rem(35px);
    }

    &::before {
      @include icon('plus');

      transform: translateY(0);
      opacity: 1;
      transition: 200ms ease transform, 200ms ease opacity;
      color: $cBlue3;
    }

    &::after {
      @include icon('plus');

      position: absolute;
      top: 50%;
      transform: translateY(50%);
      opacity: 0;
      transition: 200ms ease transform, 200ms ease opacity;
      color: $cBlue3;
    }
  }

  & i.icon-service-public::before,
  & i.icon-service-public::after {
    @include icon('service-public');
  }

  & i.icon-partenaires::before,
  & i.icon-partenaires::after {
    @include icon('partenaires');
  }

  & i.icon-entreprise::before,
  & i.icon-entreprise::after {
    @include icon('entreprise-02-02');
  }

  & i.icon-plus::before,
  & i.icon-plus::after {
    @include icon('plus');
  }

  & i.icon-arrow-left::before,
  & i.icon-arrow-left::after {
    @include icon('arrow-left');
  }

  & i.icon-arrow-right::before,
  & i.icon-arrow-right::after {
    @include icon('arrow-right');
  }

  & i.icon-mail::before,
  & i.icon-mail::after {
    @include icon('mail');
  }

  & i.icon-path::before,
  & i.icon-path::after {
    @include icon('path');

    font-size: rem(26px);
  }

  & i.icon-phone::before,
  & i.icon-phone::after {
    @include icon('phone');
  }

  & i.icon-validate::before,
  & i.icon-validate::after {
    @include icon('validate');
  }

  &:hover,
  &:focus {
    & i::before {
      transform: translateY(-10px);
      opacity: 0;
      transition: 300ms ease transform, 300ms ease opacity;
    }

    & i::after {
      transform: translateY(-50%);
      opacity: 1;
      transition: 300ms ease transform, 300ms ease opacity;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(52px);
    padding: 0 rem(20px);
    background: $cWhite;
    @include mq($until: tablet) {
      	height: rem(35px);
    }

    & span {
      @include inuit-font-size(14px);

      font-weight: 900;
      text-transform: uppercase;
      color: $cBlue3;
      @include mq($until: tablet) {
          font-size: rem(12px);
      }
    }
  }

  &__grey{
    background-color: #ECECEC;
  }
}

.c-btn--secondary {
  background-color: $cDribble;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #FFF;
  }

  &:hover,
  &:focus {
    background-color: $cFacebook;
  }
}

.c-btn--tertiary {
  background-color: #FFF;
  color: $cFacebook;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $cFacebook;
  }

  &:hover,
  &:focus {
    color: $cFacebook;
  }
}

/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}

/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 1px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid rgba(75, 169, 159, 0.6);
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  & span {
    display: block;
    color: black;
    font-size: rem(14px);
    margin-left: rem(6px);
    text-transform: uppercase;
  }

  & .icon-website::before {
    font-size: rem(19px);
  }

  &:hover,
  &:focus {
    background-color: red;
    border: $btn-ghost-border-width solid red;

    & span {
      color: white;
    }

    & .icon-website-iphone::before {
      color: white;
    }
  }
}

.c-newsletter{
  background-color: transparent;
  border: 1px solid $cWhite;
  color: $cWhite;
  text-transform: uppercase;
  @include inuit-font-size(14px);
  font-weight: 900;
  padding: rem(15px) rem(20px);
  letter-spacing: 1px;
  display: inline-block;
  text-align: center ;
  margin-top: rem(10px);
  transition: .3s ease background-color;
  &:hover,
  &:focus{
    background-color: rgba(255, 255, 255, 0.2);
    transition: .3s ease background-color;
  }
}

