.c-checkbox {
  position: relative;
  display: block;
  //min-height: rem(22px);
  //max-height: rem(22px);

  & input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    outline: none;
    z-index: -1;
    width: rem(25px);
    height: rem(22px);

    &:checked + label::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  label {
    @include inuit-font-size(13px);

    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: rem(35px);
    color: $cWhite;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 22px;
      content: ' ';
      background: $cWhite;
    }

    &::after {
      content: ' ';
      position: absolute;
      top: rem(4px);
      left: rem(4px);
      width: rem(16px);
      height: rem(13px);
      opacity: 0;
      transform: scale(0.75);
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-5-5h25v22H-5z'/%3E%3Cpath fill='%236AC259' d='M5.65 12.24L0 6.59 1.88 4.7l3.77 3.76L14.12 0 16 1.88z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }
}

