.client {
  &__section {
    margin-bottom: rem(60px);

    &__wrapper {
      display: flex;
      padding-bottom: rem(60px);
      align-items: center;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: rem(2px);
      background-color: #D3D3D3;
    }

    &:last-child {
      &::after {
        display: none;
      }

      & .client__section__wrapper {
        padding-bottom: 0;
      }
    }
  }

  &__left {
    width: 30%;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: rem(40px);
    margin-top: rem(-25px);

    &.title {
      text-transform: none;
      text-align: left;
      line-height: 1.2em;
    }
  }
}

.page-template-customer {
  & .otherCustomers {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}
