.contact {
  &__top {
    display: flex;
    justify-content: space-between;
    @include mq($until: tablet) {
      flex-direction: column;
    }
  }

  & .wysiwyg {
    width: 100%;
    padding-right: rem(45px);
  }

  & .postuler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: #ececec;
    width: 100%;
    flex-basis: rem(320px);
    flex-grow: 0;
    flex-shrink: 0;
    padding: rem(20px) rem(40px);
    background-image: url("../images/bg-bloc-postuler.png");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    text-align: center;
    margin-top: rem(50px);
    @include mq($until: tablet) {
      margin-top: rem(50px);
      width: 100%;
    }

    & strong {
      @include inuit-font-size(20px);

      display: block;
      margin-bottom: rem(20px);
      text-align: center;
      line-height: 1.2em;
      color: $cBlue3;
      text-transform: uppercase;
      @include mq($until: 475px) {
        @include inuit-font-size(18px);
      }
    }

    & .c-btn {
      margin: 0 auto;
    }
  }
}

.contact-form {
  margin-top: rem(75px);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include mq($until: 475px) {
      flex-direction: column;
    }
  }

  &__acceptance {
    margin-top: rem(20px);

    & .wpcf7-list-item {
      margin: 0 !important;

      & label {
        display: flex;

        & span {
          margin-left: rem(10px);
          margin-top: rem(-5px);
          @include mq($until: mobile) {
            font-size: rem(16px);
          }
        }
      }
    }
  }

  &__acceptance-2{
    margin-bottom: rem(20px);
    display: flex;

    & label{
      margin-left: rem(10px);
      margin-top: rem(-5px);
      @include mq($until: mobile) {
        font-size: rem(16px);
      }
    }
  }

  &__group {
    flex-basis: 46%;
    margin-bottom: rem(30px);

    & label {
      @include inuit-font-size(14px);

      display: block;
      color: $cbgBlack2;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.3px;
      margin-bottom: rem(10px);
      @include mq($until: tablet) {
        @include inuit-font-size(12px);
      }
    }

    & input {
      color: $cBlack;
      background: #ececec;
      border: none;
      border-bottom: 2px solid $cBlue;
      height: rem(56px);
      padding: 0 rem(20px);
      width: 100%;
      transition: 300ms ease border-bottom-color;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-bottom: 2px solid $cBlue3;
        transition: 300ms ease border-bottom-color;
      }
    }

    & select {
      color: $cBlack;
      background: #ececec;
      border: none;
      border-bottom: 2px solid $cBlue;
      height: rem(56px);
      padding: 0 rem(20px);
      width: 100%;
      transition: 300ms ease border-bottom-color;
      box-sizing: border-box;
    }
  }

  &__info {
    @include inuit-font-size(14px);

    display: block;
    margin-top: rem(10px);
    color: $cbgBlack2;
  }

  &__textarea {
    & textarea {
      width: 100%;
      background: #ececec;
      border: none;
      border-bottom: 2px solid $cBlue;
      height: rem(188px);
      transition: 300ms ease border-bottom-color;
      padding: rem(20px);
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-bottom: 2px solid $cBlue3;
        transition: 300ms ease border-bottom-color;
      }
    }

    & label {
      @include inuit-font-size(14px);

      display: block;
      color: $cbgBlack2;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.3px;
      margin-bottom: rem(10px);
      @include mq($until: 475px) {
        @include inuit-font-size(12px);
      }
    }
  }

  & .c-btn {
    margin-top: rem(30px);

    &.c-btn--primary i {
      border: 0.11111rem solid #ececec;
    }

    .c-btn--primary__wrapper {
      background-color: #ececec;
    }
  }

  & .wpcf7-not-valid-tip {
    @include inuit-font-size(16px);

    display: block;
    margin-top: rem(5px);
  }

  & .wpcf7-response-output {
    margin: 0;
    margin-top: rem(15px);
    padding: 0;
    border: none;
    color: #f00;
  }

  & .wpcf7-mail-sent-ok {
    color: #398f14;
  }
}

