.customer {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__about {
    width: 100%;
    padding-right: rem(90px);
    margin-top: rem(30px);
  }

  &__name {
    margin-bottom: rem(30px);
  }

  &__description {
    @include inuit-font-size(20px);

    line-height: 1.4em;
    color: $cBlue3;
    font-weight: 700;
    padding-bottom: rem(80px);
  }

  &__figure {
    flex-basis: rem(498px);
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;

    & img {
      display: block;
    }
  }

  &__bottom {
    margin-top: rem(-50px);
    padding-top: rem(125px);
    background-image: linear-gradient(0deg, #FFF 20%, #F5F5F5 100%);

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__left {
      flex-basis: 46%;
      flex-grow: 0;
      flex-shrink: 0;
      padding-right: rem(45px);
    }

    &__right {
      flex-basis: 46%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &__bloc {
    margin-bottom: rem(65px);

    &__title {
      display: block;
      color: $cBlue;
      margin-bottom: rem(25px);
    }
  }

  &__solution {
    margin-bottom: rem(30px);

    & strong {
      @include inuit-font-size(14px);

      display: block;
      margin-bottom: rem(18px);
      text-transform: uppercase;
      font-weight: 900;
      color: $cBlack;
    }

    & .c-btn {
      &.c-btn--primary i {
        border: 0.11111rem solid #ECECEC;
      }

      .c-btn--primary__wrapper {
        background-color: #ECECEC;
      }
    }
  }
}

.otherCustomers {
  & p {
    color: $cBlack;
    @include mq($until: 475px) {
      	@include inuit-font-size(14px);
    }
  }

  &--gae {
    margin-top: rem(100px);
    margin-bottom: 0;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;

    .otherCustomers__list {
      justify-content: flex-start !important;
    }
  }

  & .c-btn {
    margin-top: 0;

    &.c-btn--primary i {
      border: 0.11111rem solid #ECECEC;
    }

    .c-btn--primary__wrapper {
      background-color: #ECECEC;
    }
  }

  & .title {
    margin-bottom: rem(38px);
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    flex-basis: 31%;
    flex-grow: 0;
    flex-shrink: 0;

    &:hover,
    &:focus {
      .otherCustomers__figure {
        background-size: 120%;
        transition: 300ms ease background-size;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: rem(20px);
  }

  &__figure {
    width: 100%;
    background-color: grey;
    height: rem(226px);
    margin-bottom: rem(30px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 200ms ease background-size;
  }
}

.etude {
  display: flex;

  &__figure {
    flex-basis: 45%;
    flex-grow: 0;
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    min-height: rem(300px);
    margin-right: 5%;
  }

  &__content {
    flex-basis: 45%;
  }

  &__title {
    display: block;
    margin-bottom: rem(10px);
    color: $cBlue3;

    @include inuit-font-size(26px);
  }

  &__excerpt {
    @include inuit-font-size(20px);

    margin-top: rem(10px);
    line-height: 1.4em;

    & p {
      color: $cBlack;
    }
  }

  & .plus {
    border: rem(2px) solid #ECECEC;
  }

  & .c-btn--primary__wrapper {
    background: #ECECEC;
  }
}
