.customers__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.otherCustomers {
  padding-top: rem(100px);
  border-top: 2px solid #D3D3D3;
  margin-top: rem(60px);
  padding-bottom: rem(100px);
  border-bottom: 2px solid #D3D3D3;
  @include mq($until: tablet ) {
    margin-top: 0;
    padding-top: rem(50px);
    padding-bottom: rem(50px);
  }

  &--gae {
    margin-top: rem(100px);
    @include mq($until: tablet) {
      	margin-top: rem(50px);
    }
  }

  & .title {
    margin-bottom: rem(38px);
  }

  &__category {
    @include inuit-font-size(13px);

    display: block;
    letter-spacing: 1px;
    color: grey;
    text-transform: uppercase;
    margin-bottom: rem(15px);
    @include mq($until: 475px) {
      	@include inuit-font-size(12px);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include mq($until: laptop) {
      	flex-wrap: wrap;
    }
  }

  &__card {
    flex-basis: 31%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
    @include mq($until: laptop) {
      	flex-basis: 48.2%;
    }
    @include mq($until: tablet) {
      	flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 7.5%;
    }

    &:nth-child(3n+3) {
      margin-right: 0;
      @include mq($until: laptop) {
        	margin-right: 3.5%;
      }
      @include mq($until: tablet) {
        	margin-right: 0;
      }
    }
    &:nth-child(2n+2) {
      @include mq($until: laptop) {
        margin-right: 0;
      }
    }

    &:hover,
    &:focus {
      .otherCustomers__figure {
        background-size: 120%;
        transition: 300ms ease background-size;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: rem(4px);
    @include mq($until: 475px) {
      	@include inuit-font-size(16px);
    }
  }

  &__figure {
    width: 100%;
    background-color: grey;
    height: rem(226px);
    margin-bottom: rem(30px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 200ms ease background-size;
  }
}
