.footer {
  background-color: $cbgBlack2;
  padding: rem(60px) 0 0 0;

  & .o-wrapper {
    display: flex;
    justify-content: space-between;
    @include mq($until: tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  & .nav-socials {
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin-top: rem(30px);
    @include mq($until: tablet) {
      align-items: center;
      justify-content: center;
    }
  }

  &__row--first {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding-right: rem(45px);
    @include mq($until: tablet) {
      padding-right: 0;
      padding-bottom: rem(30px);
      text-align: center;
    }

    & svg {
      max-width: rem(225px);
      @include mq($until: tablet) {
        //margin: 0 auto rem(30px);
      }
      @include mq($until: 475px) {
        max-width: rem(200px);
      }
    }

    & strong {
      display: block;
      color: $cWhite;
      font-weight: 700;
      margin-bottom: rem(20px);
      @include mq($until: 475px) {
        @include inuit-font-size(14px);
      }
    }

    & address {
      display: block;
      font-style: normal;
      color: $cWhite;
      margin-bottom: rem(5px);
      @include mq($until: 475px) {
        @include inuit-font-size(14px);
      }
    }

    & .footer__tel {
      color: $cWhite;
      @include mq($until: 475px) {
        @include inuit-font-size(14px);
      }

      & strong {
        display: inline;
      }
    }
  }

  &__row--second {
    display: flex;
    flex-basis: 33%;
    width: 300px;
    padding-right: rem(45px);
    @include mq($until: tablet) {
      padding-right: 0;
      padding-bottom: rem(30px);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
  }

  &__navItem:last-child .footer__navLink {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &__navLink {
    @include inuit-font-size(14px);

    display: block;
    padding-bottom: rem(15px);
    margin-bottom: rem(15px);
    border-bottom: 2px solid #3d3d3d;
    text-align: center;
    color: $cWhite;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 300ms ease opacity;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 300ms ease opacity;
    }
  }

  &__newsletter {
    flex-basis: 33%;
    @include mq($until: tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      @include inuit-font-size(20px);

      display: block;
      margin-bottom: rem(30px);
      color: $cWhite;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
      @include mq($until: tablet) {
        text-align: center;
      }
      @include mq($until: 475px) {
        @include inuit-font-size(16px);
      }
    }

    & p {
      color: $cWhite;
      @include mq($until: tablet) {
        text-align: center;
      }
      @include mq($until: 475px) {
        @include inuit-font-size(14px);
      }
    }
  }
}

.subfooter {
  background-color: #3d3d3d;
  padding: rem(25px) 0;
  margin-top: rem(60px);

  & .o-wrapper {
    display: flex;
    justify-content: space-between;

    &::after {
      display: none !important;
    }
  }

  &__copiryght {
    @include inuit-font-size(14px);

    color: #6a6a6a;
  }
}

.subfooter__dev {
  display: flex;
  align-items: center;
  color: #6a6a6a;

  &:visited {
    color: #6a6a6a;
  }

  & span {
    font-weight: lighter;
    font-size: rem(13px);
    margin-right: rem(5px);
    transition: 300s ease color;
    color: #6a6a6a;
  }

  & svg path {
    transition: 300ms ease all;
    transition-property: fill, fill-opacity;
  }

  & .knok-logo {
    position: relative;
    top: rem(1px);
  }
}

.subfooter__dev a:hover,
.subfooter__dev a:focus {
  & span {
    color: $cWhite;
    transition: 300ms ease color;
  }

  & svg path {
    fill: $cWhite;
    fill-opacity: 1;
    transition: 300ms ease all;
    transition-property: fill, fill-opacity;
  }
}

.logo-footer{
  margin-bottom: rem(30px);
  @include mq($until: tablet) {
    margin: 0 auto rem(30px);
  }
}
