.header {
  position: relative;
  height: rem(500px);
  margin-bottom: rem(120px);
  @include mq($until: laptop) {
    height: rem(300px);
  }
  @include mq($until: tablet) {
    margin-bottom: rem(75px);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: rem(-115px);
    width: 100%;
    height: rem(172px);
    background-image: url("../images/bg-header@2x.png");
    background-position: center center;
    background-size: 520px 86px;
    background-repeat: repeat-x;
    z-index: 6;
    @include mq($until: laptop) {
      background-size: 260px 43px;
    }
  }
}

.header.header-page {
  height: rem(300px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    background-image: linear-gradient(-270deg, #006f9d 0%, #00c1e5 100%);
    position: absolute;
    opacity: 0.9;
    z-index: 1;

    @extend .cover;
  }

  & h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 58%;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    color: $cWhite;
    z-index: 5;
    letter-spacing: 1px;
    padding: 0 rem(20px);
    max-width: rem(800px);
    margin: 0 auto;
    font-size: rem(30px);
    @include mq($until: tablet) {
      @include inuit-font-size(25px);
      top: 50%;
    }
    @include mq($until: 475px) {
      @include inuit-font-size(22px);
    }
  }
}

.header.header-home {
  .slider-home {
    position: relative;
    height: 100%;

    &__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      transition: transform 0.5s;
      transform: scale(1, 1) translateZ(0);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: -1;
      opacity: 1 !important;

      &::before {
        content: '';
        background-image: $gradientBlue;
        position: absolute;
        opacity: 0.7;
        z-index: 1;

        @extend .cover;
      }
    }

    &__item {
      position: relative;
    }

    &__content {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 55%;
      transform: translateY(-50%);
      z-index: 2;
      max-width: 850px;
    }

    &__text {
      display: block;
      width: 100%;
      // padding-left: rem(90px);
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity ease 2s, transform ease 2s;
      @include mq($until: laptop) {
        padding-left: 0;
      }

      & strong {
        @include inuit-font-size(40px);
        @include mq($until: laptop) {
          position: relative;
          top: 100px;
          transform: translateY(-50%);
          font-size: rem(30px);
          width: auto;
          left: 0;
          right: 0;
          text-align: center;
        }
        @include mq($until: tablet) {
          font-size: rem(25px);
          margin-bottom: rem(55px);
        }
        @include mq($until: 550px) {
          font-size: rem(20px);
        }
        @include mq($until: mobile) {
          font-size: rem(20px) !important;
        }
        @include mq($until: 375px) {
          font-size: rem(20px) !important;
        }

        display: block;
        color: $cWhite;
        font-weight: 700;
        margin-bottom: rem(30px);
        line-height: 1.2em;
      }

      & a {
        @include mq($until: laptop) {
          position: relative;
          top: 50px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .slick-slide {
    height: rem(500px);

    @include mq($until: laptop) {
      height: rem(330px);
    }

    & div:first-child {
      height: 100%;
      @include mq($until: laptop) {
        height: rem(330px);
      }
    }
  }

  .slick-active {
    .slider-home__text {
      opacity: 1;
      transform: translateY(0);
      transition: opacity ease 2s, transform ease 2s;
    }
  }
}

/* .slider-home [data-animation-in] {
  opacity: 0;
  animation-duration: 25s;
  transition: opacity 0.5s ease 0.3s;
  animation-fill-mode: forwards;
} */

.slider-home {
  &__buttons {
    position: absolute;
    margin: 0 auto;
    // top: 0;
    top: rem(310px);
    // bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    @include mq($until: laptop) {
      display: none;
      flex-direction: row-reverse;
      right: auto;
      top: rem(120px);
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(45px);
    height: rem(45px);
    @include mq($until: laptop) {
      width: rem(35px);
      height: rem(35px);
    }

    &:first-child {
      position: absolute;
      right: 0;
      margin-right: 10px;
      background-color: $cbgBlack1;
      transition: 200ms ease background-color;

      &:hover,
      &:focus {
        background-color: lighten($cbgBlack1, 10%);
        transition: 300ms ease background-color;
      }
    }

    &:last-child {
      background-color: $cbgBlack2;

      &:hover,
      &:focus {
        background-color: lighten($cbgBlack2, 10%);
        transition: 300ms ease background-color;
      }
    }

    & i::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      color: $cWhite;
      font-size: 14px;
    }
  }
}

/* /////////// IMAGE ZOOM /////////// */
@keyframes zoomInImage {
  from {
    transform: scale(1, 1) translateZ(0);
  }

  to {
    transform: scale(1.25, 1.25) translateZ(0);
  }
}

.zoomInImage {
  animation-name: zoomInImage;
}


////// DOTS
.slick-dots {
  position: absolute;
  bottom: rem(65px);
  max-width: $inuit-wrapper-width;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  z-index: 10;
  padding-left: 90px;
  justify-content: center;

  @include mq($until: laptop) {
    padding-left: rem(10px);
    bottom: rem(40px);
  }

  & li {
    list-style: none;
    @include mq($until: tablet) {
      margin-right: rem(10px);
    }

    &:last-child {
      @include mq($until: tablet) {
        margin-right: 0;
      }
    }

    &.slick-active button:before {
      background-color: rgba(255, 255, 255, 1);
    }

    & button {
      color: transparent;
      font-size: 0;

      &:hover:before {
        background-color: rgba(255, 255, 255, 1);
        transition: 300ms ease background-color;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition: 300ms ease background-color;

        @include mq($until: laptop) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

.page-template-gestion_achat_energie {
  & .header-page {
    & h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-template-optimisation_consommations {
  & .header-page {
    & h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-template-redaction_analyse_marches_publiques {
  & .header-page {
    & h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-template-service_administratif_energie {
  & .header-page {
    & h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-template-gestion_projet_energetique_et_renouvelable {
  & .header-page {
    & h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-template-service_administratif_energie {
  & .header-page {
    & h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
