.hAbout {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  @include mq($until: tablet) {
    flex-direction: column;
  }

  &__quote {
    width: 43.75%; // 455px
    background-image: url("../images/quote-bg@2x.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: rem(50px) 0;
    @include mq($until: laptop) {
      width: 65%;
    }
    @include mq($until: tablet) {
      width: 100%;
      text-align: center;
      background-image: none;
      padding: 0 0 rem(30px);
    }

    &Text {
      @include inuit-font-size(36px);

      display: block;
      color: $cBlue;
      @include mq($until: laptop) {
        font-size: rem(32px);
      }
      @include mq($until: 475px) {
        font-size: rem(25px);
      }
    }
  }

  & .wysiwyg {
    max-width: rem(544px);
    padding-left: rem(20px);
    @include mq($until: tablet) {
      max-width: 100%;
      padding-left: 0;
      padding-top: rem(20px);
    }

  }
}

.hSolutions {
  @include mq($until: tablet) {
    margin-top: rem(50px);
  }

  &__mainWrapper {
    margin-top: rem(100px);
    background-color: #f5f5f5;
    padding: rem(50px) 0;
    @include mq($until: laptop) {
      margin-top: rem(50px);
      padding: rem(20px) 0 rem(50px);
    }
  }

  &__title {
    margin-bottom: rem(20px);
  }

  & .wysiwyg {
    max-width: rem(768px);
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: rem(60px) 0 rem(3px);
    @include mq($until: tablet) {
      flex-direction: column;
    }

    &__2 {
      display: flex;
      justify-content: center;
      margin: rem(17px) 0 rem(20px);
      @include mq($until: tablet) {
        flex-direction: column;
        margin: 0 0 rem(20px) 0;
      }
    }
  }

  &__item {
    position: relative;
    width: rem(335px);
    height: rem(347px);
    list-style-type: none;
    overflow: hidden;
    @include mq($until: laptop) {
      overflow: visible;
      height: rem(347px);
      margin-right: rem(20px);
      margin-bottom: rem(20px);
    }
    @include mq($until: tablet) {
      width: 100%;
      margin-bottom: rem(50px);
      &:last-child {
        margin-bottom: rem(40px);
      }
    }

  }

  &__img {
    position: relative;
    display: block;
    height: rem(240px);
    background-color: $cBlue2;
    @include mq($until: laptop) {
      display: none;
    }

    & svg {
      position: absolute;
      top: 50%;
      max-width: 80%;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 1;
      transform: scale(1) translateY(-50%);
      transform-origin: 50% 50%;
      transition: 400ms ease opacity, 400ms ease transform;
      @include mq($until: laptop) {
        max-width: 60%;
      }
      @include mq($until: tablet) {
        max-width: 40%;
      }
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #007aad;
    padding: 0 rem(30px);
    height: rem(107px);
    transition: 200ms ease height;
    z-index: 5;
    @include mq($until: laptop) {
      text-align: center;
      height: rem(300px);
    }
    @include mq($until: 900px) {
      padding: 0 rem(20px);
    }
  }

  &__titleItem {
    @include inuit-font-size(20px);

    position: relative;
    top: rem(27px);
    color: $cWhite;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include mq($until: laptop) {
      @include inuit-font-size(18px);
    }
    @include mq($until: tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include mq($until: 475px) {
      @include inuit-font-size(16px);
    }

    & i {
      @include inuit-font-size(30px);

      position: absolute;
      transform: translateX(-40px);
      opacity: 0;
      transition: 400ms ease transform, 400ms ease opacity;
      @include mq($until: laptop) {
        position: relative;
        opacity: 1;
        margin-bottom: rem(20px);
      }

      @include mq($until: tablet) {
        transform: none;
        transition: none;
      }
    }

    & span {
      display: inline-block;
      transition: 300ms ease transform;
    }
  }

  &__paragraph {
    @include inuit-font-size(18px);

    color: $cWhite;
    line-height: 1.35em;
    transform: translateY(55px);
    @include mq($until: 475px) {
      @include inuit-font-size(14px);
    }
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0086bd;
    padding: 0 rem(30px);
    height: rem(107px);
    transition: 200ms ease transform;
    transform: translateY(107px);
    z-index: 6; //TODO: pass to 2
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq($until: laptop) {
      transform: none;
      transition: none;
      height: rem(80px);
    }


    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50px);
      height: rem(50px);
      border: 2px solid #009dbf;
      transition: 300ms ease border;
      @include mq($until: laptop) {
        transition: none;
      }

      &::before {
        transition: 300ms ease color;
        @include mq($until: laptop) {
          transition: none;
        }
      }
    }

    &:hover,
    &:focus {
      & .icon {
        border: 2px solid darken(#009dbf, 10%);
        transition: 500ms ease border;
        @include mq($until: laptop) {
          transition: none;
        }

        &::before {
          color: lighten(#009dbf, 30%);
        }
      }
    }
  }

  &__item--optim {
    & .hSolutions__img {
      background-color: #0086bd;
    }

    & .hSolutions__content {
      background-color: #007aad;
    }

    & .hSolutions__link {
      background-color: #0086bd;
    }

    & .icon-dashboard::before {
      position: relative;
      top: -8px;
      font-size: 25px;
    }
  }

  &__item--marches {
    & .hSolutions__img {
      background-color: #0086bd;
    }

    & .hSolutions__content {
      background-color: #007aad;
    }
  }
}

.hSolutions__item:hover,
.hSolutions__item:focus {
  & .hSolutions__img svg {
    opacity: 0;
    transform: scale(0.75) translateY(-50%);
    transform-origin: 50% 50%;
    transition: 500ms ease opacity, 500ms ease transform;
    @include mq($until: laptop) {
      transform: none;
      transition: none;
      opacity: 1;
    }
  }

  & .hSolutions__content {
    height: 347px;
    transition: 500ms $easeOutCirc height;
    @include mq($until: laptop) {
      transition: none;
    }
  }

  & .hSolutions__link {
    transform: translateY(0);
    transition: 500ms $easeOutCirc transform;
    @include mq($until: laptop) {
      transform: none;
      transition: none;
    }
  }

  & .hSolutions__titleItem {
    & i {
      transform: translateX(0);
      opacity: 1;
      transition: 300ms ease transform, 300ms ease opacity;
      @include mq($until: laptop) {
        display: none;
      }
    }

    & span {
      transform: translateX(40px);
      transition: 400ms ease transform;
      @include mq($until: laptop) {
        transform: none;
        transition: none;
      }
    }

    &--margin {
      & span {
        margin-left: rem(20px);
      }
    }
  }
}

.hAtouts {
  &__wrapper {
    margin-top: rem(120px);
    margin-bottom: rem(150px);
    @include mq($until: laptop) {
      margin-top: 0;
      margin-bottom: rem(-50px);
      padding: rem(50px) 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    @include mq($until: tablet) {
      flex-wrap: wrap;
    }
  }

  &__item {
    list-style-type: none;
    text-align: center;
    padding: 0 rem(10px);
    width: 23%;
    @include mq($until: tablet) {
      width: 100%;
      margin-bottom: rem(30px);
    }
  }

  &__figure {
    display: flex;
    height: rem(180px);
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    @include mq($until: tablet) {
      height: rem(150px);
    }
    @include mq($until: 475px) {
      height: rem(100px);
    }
  }

  &__titleItem {
    @include inuit-font-size(20px);

    line-height: 1.2em;
    color: $cBlue;
    font-weight: 700;
    @include mq($until: 475px) {
      @include inuit-font-size(18px);
    }
  }

  &__text {
    @include inuit-font-size(16px);

    line-height: 1.5em;
    color: $cBlack;
    @include mq($until: 475px) {
      @include inuit-font-size(14px);
    }
  }

  &__title {
    @include mq($until: tablet) {
      margin-bottom: rem(30px);
    }
  }
}

.frontPage .hAtouts {
  &__title {
    margin-bottom: rem(40px);
  }

  &__titleItem {
    display: block;
    font-size: rem(25px);
    margin-top: rem(25px);
  }

  &__figure {
    display: flex;
    flex-direction: column;
    // height: auto;
    margin-bottom: rem(15px);

    &::after {
      content: '';
      display: block;
      margin-top: rem(15px);
      width: rem(50px);
      height: rem(5px);
      background: #eee;
    }
  }
}

.hNews {
  &__btn {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    margin-top: rem(100px);
  }
}

.hVideo {

  &__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
