.jobs {
  &__intro {
    display: block;
    margin-bottom: rem(40px);
  }

  & .newsCard__wrapper {
    margin-bottom: rem(40px);
  }
}

.jobs__bandeau {
  position: relative;
  min-height: rem(486px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: rem(-100px);
  @include mq($until: 475px) {
    min-height: rem(450px);
  }

  &::before {
    @extend .cover;

    content: '';
    background-image: linear-gradient(-180deg, #00a8cc 3%, #006f9d 38%);
    opacity: 0.8;
  }

  &__img1 {
    position: absolute;
    top: -36px;
    left: 10%;
  }

  &__img2 {
    position: absolute;
    bottom: -36px;
    right: 10%;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    max-width: rem(900px);
    padding: 0 rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 5;
    margin: 0 auto;
  }

  &__title {
    @include inuit-font-size(36px);

    display: block;
    text-align: center;
    line-height: 1.2em;
    color: $cWhite;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rem(30px);
    @include mq($until: tablet) {
      @include inuit-font-size(30px);
    }
    @include mq($until: 475px) {
      @include inuit-font-size(25px);
    }
  }

  &__content {
    color: $cWhite;
    font-weight: 700;
    text-align: center;
    line-height: 1.4em;
    max-width: rem(600px);
    padding: 0 rem(10px);
    margin-bottom: rem(40px);
  }
}

.page-template-jobs {
  & .rdv {
    & .o-wrapper {
      @include mq($until: tablet) {
        padding: rem(100px) rem(10px) rem(50px);
      }
    }
  }
}
