.nav-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: rem(88px);
  background-color: $cBlack;
  padding: 0;
  z-index: 20;
  @include mq($until: laptop) {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 300px; //TODO: minwidth
    height: 100%;
    z-index: 2000;
    visibility: hidden; //TODO: remove
    /*transform: translateX(100%); TODO: uncomment */
    opacity: 0; //TODO: 0
    transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding: 0;
    display: block;
    transform: translateX(300px);
  }

  &::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 9999px;
    left: -9999px;
    background-color: $cBlack;
  }

  &::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 9999px;
    right: -9999px;
    background-color: $cBlack;
  }
}

.nav-container {
  display: flex;
  width: 81.25%;
  //justify-content: space-between;
  align-items: center;
  align-content: center;
  @include mq($until: laptop) {
    width: 100%;
    flex-direction: column;
  }
}

.nav-logo {
  display: block;
  position: relative;
  width: 18.75%; // (100/1040) * 195px
  height: 100%;
  //background-color: $cbgBlack1;
  transition: 200ms ease background-color;
  z-index: 20;
  @include mq($until: laptop) {
    width: 100%;
    height: rem(65px);
  }

  &__mobile {
    width: 19.5%;
    height: 100%;
    @include mq($until: 475px) {
      width: 25%;
    }

    & .broptimize-logo {
      max-width: 80%;
    }
  }

  &:hover,
  &:focus {
    background-color: lighten($cbgBlack1, 10%);
    transition: 300ms ease background-color;
  }

  & svg {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    @include mq($until: laptop) {
      max-width: 50%;
    }
  }
}

/* ==========================================================================
   #SOCIAL LINKS
   ========================================================================== */
.nav-socials {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $cBlack;
  height: 100%;
  z-index: 20;
  padding: 0 rem(15px);
  //width: 17.35%;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    background-color: $cbgBlack1;
    margin-right: rem(10px);
    transition: 300ms ease background-color;

    &:hover,
    &:focus {
      background-color: lighten($cbgBlack1, 10%);
      transition: 300ms ease background-color;
    }

    & i::before {
      display: flex;
      font-size: rem(16px);
      color: $cWhite;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child i::before {
      font-size: rem(12px);
    }
  }
}

/* ==========================================================================
   #MEGA MENU
   ========================================================================== */
.nav {
  //width: 82.940236686%;
  height: 100%;
  width: 100%;
}

/* mega menu list */
.nav-menu {
  display: flex;
  //justify-content: center;
  height: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
  @include mq($until: laptop) {
    flex-direction: column;
  }
}

/* a top level navigation item in the mega menu */
.nav-item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  @include mq($until: laptop) {
    display: block;
  }

  &:nth-child(2) {
    & .sub-nav {
      height: rem(60px);
      @include mq($until: laptop) {
        height: auto;
      }

      &.open {
        transform: translateY(60px);
      }
    }
  }

  &:last-child {
    flex: 1 0 0;

    & a {
      width: 100%;
      justify-content: center;
      @include mq($until: laptop) {
        width: auto;
      }
    }
  }
}

/* first descendant link within a top level navigation item */
.nav-item > a {
  @include inuit-font-size(13px);

  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 rem(15px);
  color: $cWhite;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-right: 1px solid $cbgBlack1;
  background-color: $cBlack;
  transition: 200ms ease background-color;
  @include mq($until: laptop) {
    padding: rem(25px) rem(10px);
    border-right: 0;
    justify-content: center;
  }
}

/* focus/open states of first descendant link within a top level
   navigation item */
.nav-item > a:focus,
.nav-item > a.open,
.nav-item > a:hover {
  background-color: lighten($cBlack, 10%);
  transition: 300ms ease background-color;
}

/* open state of first descendant link within a top level
   navigation item */
.nav-item > a.open {
  z-index: 2;
}

.nav-item .icon-dropdown {
  transform: rotate(-90deg);
  margin-left: rem(10px);
  @include mq($until: laptop) {
    display: none;
  }
}

/* sub-navigation panel */
.sub-nav {
  position: absolute;
  display: block;
  left: rem(-195px);
  right: 0;
  bottom: 0;
  width: rem(1040px);
  background-color: $cbgBlack1;
  height: rem(100px);
  z-index: -1;
  visibility: hidden;
  transform: translateY(0);
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms, top 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94), height 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  //visibility: hidden;
  @include mq($until: laptop) {
    width: 100%;
    height: auto;
    position: relative;
    transition: none;
    z-index: 2000;
    left: 0;
    visibility: visible;

  }
}

/* sub-navigation panel open state */
.sub-nav.open {
  display: block;
  visibility: visible;
  transform: translateY(100px);
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 250ms, top 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94), height 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  @include mq($until: laptop) {
    display: block;
    transform: none;
    transition: none;
  }
}

/* list of items within sub-navigation panel */
.sub-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-bottom: 0;
  height: 100%;
  justify-content: center;
  @include mq($until: laptop) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

/* list item within sub-navigation panel */
.sub-nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // border-right: 2px solid $cbgBlack2;
  // height: 100%;
  @include mq($until: laptop) {
    border-right: 0;
    width: 100%;
  }

  &:last-child {
    border-right: none;
    //width: 40.25%;
  }

  & a {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 rem(20px);
    height: 100%;
    transition: 200ms ease background-color;
    @include mq($until: laptop) {
      padding: rem(25px) rem(10px);
      text-align: center;
      align-items: flex-start;
      justify-content: center;
    }

    &:hover,
    &:focus {
      background-color: lighten($cbgBlack2, 10%);
      transition: 300ms ease background-color;
    }
  }

  & .icon {
    font-size: rem(26px);
    color: $cWhite;
    margin-right: rem(10px);
    @include mq($until: laptop) {
      font-size: rem(16px);
    }
  }

  & span {
    @include inuit-font-size(14px);

    color: $cWhite;
    text-transform: uppercase;
    @include mq($until: laptop) {
      font-size: rem(12px);
      line-height: 1.5;
    }
  }
}

.nav-mobile {
  display: none;
  @include mq($until: laptop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: rem(65px);
  }
  @include mq($until: 475px) {
    height: rem(50px);
  }
}

/* ==========================================================================
   #HAMBURGER
   ========================================================================== */
.hamburger {
  display: none;
  background-color: $cbgBlack1 !important;
  @include mq($until: laptop) {
    display: block;
    position: relative;
    z-index: 2000;
  }

  &.is-active {
    position: fixed;
    right: 0;
    z-index: 2001;
    top: 10px;
  }
}


.hamburger-inner {
  background-color: $cWhite !important;

  &:before,
  &:after {
    background-color: $cWhite !important;
  }
}

.menu-open {
  overflow: hidden;
  height: 100%;

  .nav-wrapper {
    @include mq($until: laptop) {
      opacity: 1;
      visibility: visible;
      overflow-y: scroll;
      overflow-x: hidden;
      transform: translateX(0);
      transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
  }

  .overlay {
    @include mq($until: laptop) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.8);
      z-index: 1999;
      transition: .3s ease-in-out;

    }
  }
}




