.newsCard {
  flex-basis: 31%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 3.5%;
  margin-bottom: 3.5%;
  overflow: hidden;
  @include mq($until: tablet) {
    flex: 0 0 48.25%;
  }
  @include mq($until: 475px) {
    flex: 0 0 100%;
    margin-right: 0;
  }

  &:nth-child(3n+3) {
    margin-right: 0;
    @include mq($until: tablet) {
      margin-right: 3.5%;
    }
    @include mq($until: 475px) {
      margin-right: 0;
    }
  }

  &:nth-child(2n+2) {
    @include mq($until: tablet) {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    .newsCard__figure {
      background-size: 120%;
      transition: 300ms ease background-size;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &--gae {
    margin-top: rem(100px);
  }

  & .title {
    margin-bottom: rem(38px);
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: block;
    margin-bottom: rem(20px);
    @include mq($until: 475px) {
      	@include inuit-font-size(16px);
    }
  }

  &__content {
    background-color: #f5f5f5;
    padding: rem(30px) rem(15px);
    height: 100%;
  }

  &__figure {
    width: 100%;
    background-color: grey;
    height: rem(226px);
    background-size: 100%;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 200ms ease background-size;
    background-size: cover;
  }

  &__excerpt {
    margin-bottom: 0;
    color: $cBlack;
    @include mq($until: 475px) {
      	@include inuit-font-size(14px);
    }
  }
}

.article {
  .wysiwyg {
    max-width: rem(780px);
    margin: 0 auto;
  }

  &__figure {
    margin: rem(30px) auto;
    text-align: center;

    & img {
      max-width: rem(780px);
      width: 100%;
      height: auto;
    }
  }
}
