.rdv {
  margin-top: rem(100px);
  background-image: linear-gradient(-270deg, #006F9D 0%, #00C1E5 100%);
  @include mq($until: tablet) {
    	margin-top: rem(50px);
  }

  & .o-wrapper {
    padding: rem(60px) rem(10px);
  }

  & .wpcf7-form {
    & br {
      display: none;
    }

    & .wpcf7-not-valid-tip {
      margin-top: rem(5px);
      color: #A70101;
    }

    & div.wpcf7-validation-errors {
      border: none;
    }

    & div.wpcf7-response-output {
      padding: 0;
      margin: 0;
      text-align: center;
      color: #A70101;
      margin-top: rem(20px);
    }

    & div.wpcf7-mail-sent-ok {
      border: none;
      color: #8AFF58;
    }

    & .ajax-loader {
      display: none !important;
      visibility: hidden !important;
      background: none;
    }
  }

  &__form-wrapperTop {
    display: flex;
    justify-content: space-between;
    @include mq($until: tablet) {
      	flex-direction: column;
    }
  }

  &__item {
    &--first {
      //width: 35%;
      width: 100%;
      padding-right: 20px;
    }

    & strong {
      @include inuit-font-size(36px);

      display: block;
      line-height: 1.1em;
      color: $cWhite;
      margin-bottom: rem(20px);
      @include mq($until: 475px) {
        	@include inuit-font-size(30px);
      }
    }

    & p {
      @include inuit-font-size(18px);

      color: $cWhite;
      line-height: 1.3em;
      @include inuit-font-size(14px);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //width: 54.230769231%; //564px
    //width: 76.012769%; //564px
    width: 100%;
    @include mq($until: 475px) {
      	flex-direction: column;
    }
  }

  &__form-group {
    width: 46.09929078%; //(260/564)*100
    margin-bottom: rem(20px);
    @include mq($until: 475px) {
      	width: 100%;
    }

    & label {
      @include inuit-font-size(14px);

      display: block;
      margin-bottom: rem(10px);
      color: $cWhite;
      font-weight: 900;
      text-transform: uppercase;
      @include mq($until: 475px) {
        @include inuit-font-size(12px);
      }
    }

    & input {
      box-sizing: border-box;
      height: rem(56px);
      width: 100%;
      padding: rem(5px) rem(20px);
      appearance: none;
      background-color: $cBlue3;
      border: none;
      color: $cWhite;
      letter-spacing: 0.3px;
    }
  }

  &__btn {
    margin-top: rem(20px);

    & button {
      @include inuit-font-size(14px);

      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.3px;
      color: $cWhite;
      text-transform: uppercase;
      padding: rem(16px) rem(10px);
      border: 2px solid $cWhite;
      width: 97.5%;
      font-weight: 900;
      transition: 300ms ease background-color;
      @include mq($until: laptop) {
        box-sizing: border-box;
        width: 100%;
      }
      @include mq($until: 475px) {
        @include inuit-font-size(12px);
      }

      & svg {
        width: rem(48px);
        height: rem(28px);
        margin-right: rem(8px);
        @include mq($until: 475px) {
          width: rem(40px);
          height: rem(20px);
        }
      }

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.2);
        transition: 300ms ease background-color;
      }
    }
  }
}
