.references {
  position: relative;

  &__block {
    margin-top: rem(100px);
    margin-bottom: rem(100px);
    @include mq($until: tablet) {
      	margin-top: rem(50px);
        margin-bottom: rem(50px);
    }

    & .title {
      margin-bottom: rem(35px);
    }
  }

  .slick-slider .slick-track {
    display: flex;
    align-content: center;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: rem(880px);
  }

  &__figure {
    position: relative;
    padding: 0 rem(10px);
    max-width: rem(100px);
    max-height: rem(100px);
    @include mq($until: laptop) {
      	margin: 0 auto;
    }

    & img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-height: rem(100px);
      max-width: rem(100px);
    }
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    & .slider-home__button--left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    & .slider-home__button--right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(40px);
    }
  }

  & .slider-references__button--left {
    right: auto !important;
  }
}
