.solutions {
  display: flex;
  flex-direction: column;
}

.solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(60px);
  border-bottom: 2px solid #d3d3d3;
  margin-bottom: rem(60px);

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:nth-child(odd) {
    flex-direction: row;
    @include mq($until: tablet) {
      flex-direction: column;
    }

    & .solution__content {
      padding-right: rem(45px);
      @include mq($until: tablet) {
        padding-right: 0;
        text-align: center;
      }

      & .c-btn {
        @include mq($until: tablet) {
          margin-bottom: rem(30px);
        }

      }
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    @include mq($until: tablet) {
      flex-direction: column-reverse;
    }

    & .solution__content {
      padding-left: rem(45px);
      @include mq($until: tablet) {
        padding-left: 0;
        text-align: center;
      }

      & .solution__figure {
        @include mq($until: tablet) {
          margin-bottom: rem(30px) !important;
        }
      }
    }
  }

  &__figure {
    flex-basis: 47.9%;
    flex-grow: 0;
    flex-shrink: 0;

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    @include inuit-font-size(20px);

    display: block;
    line-height: 1.2em;
    margin-bottom: rem(24px);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $cBlue;
  }

  & .wysiwyg {
    margin-bottom: rem(45px);
  }

  & .c-btn {
    &.c-btn--primary i {
      border: 0.11111rem solid #ececec;
    }

    .c-btn--primary__wrapper {
      background-color: #ececec;
    }
  }
}

/* ==========================================================================
   #GESTION ACHAT ENERGIES
   ========================================================================== */
.gae {
  &__content1 {
    max-width: rem(850px);
    margin-bottom: rem(60px);
    @include mq($until: tablet) {
      text-align: center;
      @include inuit-font-size(22px);
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    @include mq($until: tablet) {
      flex-direction: column;
    }

    & .wysiwyg {
      width: 44%;
      flex-basis: 44%;
      flex-grow: 0;
      flex-shrink: 0;
      // margin-bottom: rem(100px);
      @include mq($until: laptop) {
        width: 54%;
        flex-basis: 54%;
      }
      @include mq($until: tablet) {
        width: 100%;
        flex-basis: 100%;
        order: 2;
        margin: rem(50px) 0 rem(100px);
      }
    }
  }
}

.keys {
  position: relative;
  z-index: 5;
  max-width: rem(498px);
  margin-left: 0;
  @include mq($until: laptop) {
    max-width: rem(450px);
  }
  @include mq($until: tablet) {
    max-width: 100%;
  }

  & svg {
    max-width: rem(65px);
    max-height: rem(58px);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: rem(90px);
    list-style-type: none;
    padding: 0 rem(40px) 0 rem(65px);
    overflow: hidden;
    margin-bottom: rem(2px);
    @include mq($until: 475px) {
      min-height: rem(80px);
      padding: 0 rem(20px) 0 rem(50px);
    }

    &::before {
      position: absolute;
      left: rem(-87px);
      transform: rotate(45deg);
      content: '';
      display: block;
      width: rem(114px);
      height: rem(114px);
      flex-grow: 0;
      flex-shrink: 0;
      background-color: #009dbf;
    }

    & span {
      @include inuit-font-size(19px);

      color: $cWhite;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.4em;
      @include mq($until: laptop) {
        @include inuit-font-size(16px);
      }
      @include mq($until: 475px) {
        @include inuit-font-size(12px);
      }
    }
  }

  &__wrapperSvg {
    text-align: center;
    width: rem(65px);
    margin-right: rem(25px);
    flex-basis: rem(65px);
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__item:nth-child(1) {
    background-color: $cBlue;

    & svg {
      width: rem(65px);
      max-width: rem(65px);
      max-height: rem(50px);
      @include mq($until: laptop) {
        width: rem(60px);
        max-width: rem(60px);
        max-height: rem(27px);
      }
      @include mq($until: 475px) {
        width: rem(50px);
        max-width: rem(50px);
        max-height: rem(17px);
      }

      @include mq($until: mobile) {
        max-height: none !important;
        width: rem(25px);
      }
    }

    &::before {
      background-color: #009dbf;
    }
  }

  &__item:nth-child(2) {
    background-color: $cBlue2;

    & svg {
      max-width: rem(55px);
      max-height: rem(58px);
      width: rem(42px);
      @include mq($until: laptop) {
        width: rem(37px);
        max-width: rem(37px);
        max-height: rem(53px);
      }
      @include mq($until: 475px) {
        width: rem(27px);
        max-width: rem(27px);
        max-height: rem(43px);
      }

      @include mq($until: mobile) {
        width: 40% !important;
      }
    }

    &::before {
      background-color: #007aad;
    }
  }

  &__item:nth-child(3) {
    background-color: #00688c;

    & svg {
      max-width: rem(65px);
      max-height: rem(45px);
      width: rem(65px);
      @include mq($until: laptop) {
        width: rem(60px);
        max-width: rem(60px);
        max-height: rem(27px);
      }


      @include mq($until: mobile) {
        width: 40% !important;
        max-width: 40% !important;
      }
    }

    &::before {
      background-color: #005f80;
    }
  }

  &__item:nth-child(4) {
    background-color: #005775;

    & svg {
      max-width: rem(42px);
      max-height: rem(45px);
      width: rem(42px);
      @include mq($until: laptop) {
        width: rem(37px);
        max-width: rem(37px);
        max-height: rem(40px);
      }
      @include mq($until: laptop) {
        width: rem(27px);
        max-width: rem(27px);
        max-height: rem(40px);
      }
    }

    &::before {
      background-color: #004963;
    }
  }

  &__item:nth-child(5) {
    background-color: #013f54;

    & svg {
      max-width: rem(42px);
      max-height: rem(45px);
      width: rem(42px);
      @include mq($until: laptop) {
        width: rem(40px);
        max-width: rem(40px);
        max-height: rem(42px);
      }
      @include mq($until: laptop) {
        width: rem(27px);
        max-width: rem(27px);
        max-height: rem(40px);
      }
    }

    &::before {
      background-color: #002633;
    }
  }
}

.page-template-optimisation_consommations .keys svg {
  max-width: none;
  max-height: none;
  width: auto;
  @include mq($until: mobile) {
    	width: 40% !important;
  }
}

.bandeau {
  position: relative;
  min-height: rem(355px);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: rem(-60px);
  margin-bottom: rem(100px);

  &::before {
    @extend .cover;

    content: '';
    background-image: linear-gradient(-180deg, #00a8cc 3%, #006f9d 38%);
    opacity: 0.9;
  }

  &__img1 {
    position: absolute;
    top: -36px;
    left: 10%;
    @include mq($until: laptop) {
      width: rem(75px);
      height: auto;
    }
  }

  &__img2 {
    position: absolute;
    bottom: -36px;
    right: 10%;
    @include mq($until: laptop) {
      width: rem(175px);
      height: auto;
      bottom: -26px;
    }
  }

  & .o-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 5;
    max-width: rem(720px);
    margin: 0 auto;
  }

  &__texte {
    @include inuit-font-size(36px);

    display: block;
    text-align: center;
    line-height: 1.2em;
    color: $cWhite;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rem(30px);
    @include mq($until: tablet) {
      @include inuit-font-size(30px);
      line-height: 1.3em;
    }
    @include mq($until: 475px) {
      @include inuit-font-size(25px);
    }
  }

  &__btns {
    display: flex;
    @include mq($until: 475px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & .c-btn:first-child {
      margin-right: rem(10px);
      @include mq($until: 475px) {
        margin-right: 0;
        margin-bottom: rem(10px);
      }
    }
  }
}

.key-hands {
  width: rem(65px) !important;
}

.key-hands-2 {

}

.magniying {
  max-height: rem(45px) !important;

  & .st0 {
    stroke-width: 1;
  }

  & .st1 {
    stroke-width: 1;
  }
}

.clock {
  height: rem(50px);
}
