.title {
  font-weight: 700;
  color: $cBlue;
  letter-spacing: rem(1px);
  margin-bottom: 0;
  text-transform: uppercase;

  &--36 {
    @include inuit-font-size(36px);

    @include mq($until: laptop) {
      @include inuit-font-size(26px);

      letter-spacing: rem(0.6px);
    }
    @include mq($until: 475px) {
      	@include inuit-font-size(22px);
    }
  }

  &--26 {
    @include inuit-font-size(26px);

    letter-spacing: 0;
    line-height: 1.4em;
  }

  &--16 {
    @include inuit-font-size(16px);

    letter-spacing: 0;
    line-height: 1.4em;
  }

  &--center {
    text-align: center;
  }
}
