// - @include setIconBase()
// **********************************************************
// Sets all base rules in order to use icons on this element
// Does not include the icon itself
// Can be useful if you want to optimise your code.
// **********************************************************

@mixin setIconBase() {
  /* stylelint-disable */
  font-family: $font-family-icons;
  font-variant: normal;
  text-transform: none;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// - @include setIconInclude( $icon: icon-name )
// **********************************************************
// Includes the icon's content value.
// $icon is the first param of the icon you want to use
// as defined in config/icons.
// **********************************************************

@mixin setIconInclude($icon) {
  @each $s in $icon-list {
    @if nth($s, 1) == $icon {
      content: nth($s, 2);
    }
  }
}

// - @include icon( $icon: icon-name )
// **********************************************************
// Includes an icon and its base.
// $icon is the first param of the icon you want to use
// as defined in config/icons.
// **********************************************************

@mixin icon($icon) {
  @extend .setIconBase;
  @include setIconInclude($icon);
}
