// - @include hidden()
// **********************************************************
// Hides an element but keeps it usable by Screen-readers
// **********************************************************

@mixin hidden(){
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}

// - @include visible()
// **********************************************************
// Reset properties applied by @include hidden()
// **********************************************************

@mixin visible(){
    position: relative;
    overflow: visible;
    clip: auto;
    height: auto;
    width: auto;
    margin: 0;
}


// - @include cover()
// **********************************************************
// sets an element in an absolute position, covering its
// relative parent.
// **********************************************************

@mixin cover($offset1:false, $offset2:false, $offset3:false, $offset4:false){
    $top: 0;
    $right: 0;
    $bottom: 0;
    $left: 0;
    @if($offset1 != false and $offset2 == false and $offset3 == false and $offset4 == false) {
        $top: $offset1;
        $right: $offset1;
        $bottom: $offset1;
        $left: $offset1;
    } @else if($offset1 != false and $offset2 != false and $offset3 == false and $offset4 == false) {
        $top: $offset1;
        $right: $offset2;
        $bottom: $offset1;
        $left: $offset2;
    } @else if($offset1 != false and $offset2 != false and $offset3 != false and $offset4 == false) {
        $top: $offset1;
        $right: $offset2;
        $bottom: $offset3;
        $left: $offset2;
    } @else if($offset1 != false and $offset2 != false and $offset3 != false and $offset4 != false) {
        $top: $offset1;
        $right: $offset2;
        $bottom: $offset3;
        $left: $offset4;
    }
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


// - @include clearfix([both|left|right])
// **********************************************************
// Default : both
// Reset float on parent-element of floated elements
// **********************************************************

@mixin clearfix( $w:both ){
    &:after{
        content: "";
        display: block;
        clear: $w;
    }
}


// - @include resetFW()
// **********************************************************
// cleares width and float on element.
// Usefull on responsive designs
// **********************************************************

@mixin resetFW(){
    width: auto;
    float: none;
}


// - @include rmUnit( $var: number+unit )
// **********************************************************
// removes units from variable values
// **********************************************************

@function rmUnit($var) {
    @return $var / ($var * 0 + 1);
}


// - @include str-replace($string, $search, $replace)
// **********************************************************
// replaces all occurances of $search with $replace in $string
// **********************************************************

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}


// - @include clickableTransparentBg()
// **********************************************************
// Adds a transparent background to a clickable block-
// element. Why ? Because IE.
// **********************************************************

@mixin clickableTransparentBg() {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}


// - @include rootCss()
// **********************************************************
// Adds base CSS rules (to be used on root HTML element)
// **********************************************************

@mixin rootCss() {
    -webkit-text-size-adjust: 100%;
}

.setIconBase {
    font-family: $font-family-icons;
    font-variant: normal;
    text-transform: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
