body#tinymce {
  margin: 12px !important;
}

.wysiwyg {
  & * {
    @include inuit-font-size(18px);

    color: $cBlack;
    @include mq($until: 475px) {
      font-size: rem(14px);
    }
  }

  iframe {
    width: 100%;
  }

  li {
    @include inuit-font-size(18px);

    display: block;
    margin-bottom: rem(5px);
    color: $cBlack;
    list-style: none;
    @include mq($until: 475px) {
      @include inuit-font-size(16px);
    }

    &::before {
      color: $cBlue;
      content: '\2022';
      font-size: 1em;
      margin-left: -12px;
      padding-right: rem(12px);
      position: relative;
      top: 0;
    }

    &:last-child {
      margin-bottom: rem(5px);
    }
  }

  .alignnone {
    width: 100%;
    height: auto;
  }

  .aligncenter,
  div.aligncenter {
    display: block;
    margin: 0 auto;
  }

  img {
    margin-bottom: rem(20px);

    @include mq($until: wide) {
      max-width: 100%;
      height: auto;
    }

    @include mq($until: tablet) {
      width: 100%;
    }
  }

  blockquote {
    border-left: 5px solid $cBlue3;
    padding-left: rem(20px);
    font-style: italic;
  }

  a {
    color: $cBlue;

    &:hover {
      color: $cBlue3;
    }
  }

  .video-container {
    margin-bottom: rem(20px);
  }

  p {
    @include inuit-clearfix();

    line-height: 1.4em;

    &:last-child {
      @include mq($until: laptop) {
        margin-bottom: 0;
      }
    }

    &:first-of-type {
      @include mq($until: laptop) {
        margin-bottom: rem(20px);
      }
    }
  }

  dd,
  ol,
  ul {
    margin-bottom: rem(20px);
  }

  address,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  pre,
  figure,
  hr,
  table,
  fieldset {
    margin-bottom: rem(20px);
  }
}

.wysiwyg-subtitle {
  @include mq($until: tablet) {
    font-size: 22px !important;
  }
  @include mq($until: 475px) {
    font-size: 18px !important;
  }
}
