.o-wrapper-no-padding {
  @include inuit-clearfix();

  max-width: $inuit-wrapper-width;
  margin-right: auto;
  margin-left: auto;

  /* @media screen and (max-width: 1230px) {
    padding-left: 20px;
    padding-right: 20px;
  } */
}
